#calendar {
    width: 600px;
    height: 400px;

    border-collapse: collapse;
}

#calendar tbody td {
    width: 14%;

    text-align: right;
    vertical-align: top;

    border: 1px solid #000;
}

#calendar td.empty {
    border: none;
}
